<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>배우 리스트</h1>
  <table>
    <tr>
      <th scope="col">이름</td>
      <th scope="col">나이</td>
      <th scope="col">커리어</td>
    </tr>

    <% manactors.forEach(actor=>{ %>
      <tr>
        <td>
          <%= actor.userName %>
        </td>
        <td>
          <%= actor.age %>
        </td>
        <td>
          <% let total=[] %>
            <% actor.careers.map((x)=>{ %>
              <% total.push(x.title) %>
                <% }); %>
                  <%= total.join(','); %>
        </td>
      </tr>
      <% }) %>
  </table>
  <br />
  <a href="/actors">뒤로 가기</a><br />
</body>

</html>